.inline-style-0{margin:16px 0 2px}
.inline-style-1{font-size:13px;color:var(--ink-mute);margin-bottom:11px}
.inline-style-2{display:flex;flex-wrap:wrap;gap:12px}
.inline-style-3{margin-top:30px}
.inline-style-4{margin:0;padding:0;border:0}
.inline-style-5{object-position:center 26%}